@import "._variables.scss";

$slideout_module: true;

/* Slideout - Overlay */

.searchspring-overlay {
	background-color: $slideout-overlay-color-01;
}

/* Slideout - Container */

#searchspring-slideout_container {
	overflow-y: hidden !important;
	@if $slideout-container-shadow-on == true {
		&.ss-slideout_show {
			@include box-shadow(3px 3px 3px, rgba(0,0,0,0.33));
		}
	}
}

/* Slideout - Button */

.ss-slideout-button {
	background: $slideout-button-color-01;
	@include format-border($slideout-button-color-02, $slideout-button-border);
	@include sizing(100%, $slideout-button-height);
	text-align: center;
	margin: $slideout-button-margin;
	position: relative;
	cursor: pointer;
	.ss-slideout-button-icon {
		@include sizing($slideout-button-icon-size, $slideout-button-icon-size);
		@include position($type: absolute, $top: 0, $bottom: 0, $left: 10px);
		margin: auto;
		@include ss-icon($slideout-button-icon-type, $slideout-button-color-03);
	}
	.ss-slideout-button-label {
		@include format-text($slideout-button-color-04, $slideout-button-font);
		line-height: $slideout-button-height - get-border-size($slideout-button-border);
	}
}

/* Slideout - Header */

#searchspring-slideout_container .ss-slideout-header {
	position: relative;
	height: $slideout-header-height;
	@include format-spacing($slideout-header-spacing);
	background: $slideout-header-color-01;
	@include format-border($slideout-header-color-02, $slideout-header-border);
	.ss-title {
		@include format-text($slideout-header-color-04, $slideout-header-font);
		line-height: $slideout-header-height - get-border-size($slideout-header-border);
		margin: 0;
	}
	.ss-close {
		cursor: pointer;
		@include position($type: absolute, $top: 0, $bottom: 0, $right: $slideout-header-button-right);
		@include ss-icon($slideout-header-button-icon-type, $slideout-header-color-03, $bgprop: false);
		background-repeat: no-repeat;
		background-position: center;
		@include sizing($slideout-header-button-size, $slideout-header-button-size);
		margin: auto;
	}
}

/* Slideout - Facets */

#searchspring-slideout_container .ss-slideout-facets {
	@include format-spacing($slideout-facet-spacing);
	max-height: 90%;
	max-height: calc(100% - #{$slideout-header-height});
	overflow-y: scroll;
	#{$slideout-facet-container-selector} {
		@include format-spacing($slideout-facet-container-spacing);
		@if $slideout-facet-container-border-reset == true {
			border: 0;
		}
	}
	@if $slideout-facet-title-on == true {
		#{$slideout-facet-title-selector} {
			background: $slideout-facet-color-01;
			@include format-border($slideout-facet-color-01, $slideout-facet-title-border);
			@include format-spacing($slideout-facet-title-spacing);
			color: $slideout-facet-color-02;
			@if $slideout-facet-collapse-on == true {
				&:before {
					top: $slideout-facet-collapse-top;
					bottom: auto;
					@if $slideout-facet-collapse-left != '' {
						left: $slideout-facet-collapse-left;
					} @else {
						right: $slideout-facet-collapse-right;
					}
					@include ss-icon($slideout-facet-collapse-expanded, $slideout-facet-color-03, $bgprop: false);
				}
			}
		}
		@if $slideout-facet-collapse-on == true {
			#{$slideout-facet-collapse-selector} {
				@if nth($slideout-facet-title-border, 1) != '' and $slideout-facet-color-04 != '' {
					border-color: $slideout-facet-color-04;
				}
				margin-bottom: $slideout-facet-collapse-margin-bottom;
				@if $slideout-facet-collapse-on == true {
					&:before {
						@include ss-icon($slideout-facet-collapse-collapsed, $slideout-facet-color-03, $bgprop: false);
					}
				}
			}
		}
	}
}
