// ---- INFORMATION
//
// 01. Variables with true/false values can turned on or off.
// 02. Default values set to '' (empty) can be left blank to not generate extra styles.
// 03. Variables named $xx-spacing accept TWO values: margin, padding.
//	   Example: 0 0 10px 0, 0 0 5px 0
// 04. Variables named $xx-font accept FIVE values: font-size, 'font-family', 'font-weight', 'font-style', 'text-transform'.
//	   Example: 12px, 'arial', 'bold', 'italic', 'uppercase'
// 04. Variables named $xx-border accept FOUR values: 'side', size, 'style', radius.
//	   A blank 'side' value ('') shows no border. Radius value is not effected by this.
//	   Example: 'border', 1px, 'dashed', 3px -or- 'border-left', 1px, 'dashed', ''
// 05. Values can be entered as variables.
//	   Example: $value-2
// 06. Numeric values (such as with pixels) should be left unquoted. Other values could also be left unquoted, but numbers for sure.

// ---- SUMMARY

	// Configuration
	$filter-summary-on: false;
	$filter-summary-inline-selector: '.ss-facets-horizontal, .ss-slideout-toolbar'; // options will float inline (not block level)

// ---- CONTAINER

	// Colors
	$filter-summary-container-color-01: ''; // background
	$filter-summary-container-color-02: ''; // border

	// Configuration
	$filter-summary-container-spacing: '', ''; // add margin or padding
	$filter-summary-container-border: '', 1px, 'solid', ''; // add border styles
	$filter-summary-container-shadow: ''; // pixel values followed by color, ex: 0 3px 9px, rgba(0,0,0,0.3)

// ---- TITLES

	// Colors
	$filter-summary-title-color-01: ''; // title
	$filter-summary-title-color-02: ''; // border
	$filter-summary-title-color-03: ''; // background
	$filter-summary-title-color-04: ''; // inline mobile title

	// Configuration
	$filter-summary-title-spacing: '', ''; // add margin or padding
	$filter-summary-title-border: '', 1px, 'solid', ''; // add border styles
	$filter-summary-title-font: '', '', '', '', ''; // add font styles
	$filter-summary-inline-title-spacing: '', ''; // add margin or padding
	$filter-summary-inline-title-font: '', '', '', '', ''; // add font styles (for inline mobile title)

// ---- OPTIONS

	// Colors
	$filter-summary-color-01: ''; // font
	$filter-summary-color-02: #ffffff; // background
	$filter-summary-color-03: #aaaaaa; // border
	$filter-summary-color-04: #333333; // icon

	// Configuration
	$filter-summary-gutter: 2.5px; // the spacing between options (in pixels)
	$filter-summary-style: style1;  // style1 ("pill style" dark backround with "x" icon) or style2 (rounded "x" icon)
	$filter-summary-font: '', '', '', '', ''; // add font styles
	$filter-summary-border: 'border', 1px, 'solid', ''; // add border styles
	$filter-summary-icon-size: 12px; // icon size
	$filter-summary-icon-type: close; // icon name (grab from mixins > _icons.scss)
	$filter-summary-icon-bg-size: 55%; // background size of icon
	$filter-summary-label-weight: ''; // font weight for summary label

	// Configuration - Style 1
	$filter-summary-style1-padding: 5px 10px 5px 30px; // switch left and right padding values if icon position is right
	$filter-summary-style1-top: 9px; // top icon position
	$filter-summary-style1-left: 10px; // left icon position (can be overridden by entering right value below)
	$filter-summary-style1-right: ''; // add a pixel value to move icon to right

	// Configuration - Style 2
	$filter-summary-style2-padding: 25px; // left or right padding only
	$filter-summary-style2-top: 3px; // top icon position
	$filter-summary-style2-left: 0; // left icon position (can be overridden by entering right value below)
	$filter-summary-style2-right: ''; // add a pixel value to move icon to right

// ---- BREAKPOINT 1

	// Configuration
	$filter-summary-bp1-width: 767px !default;
	$filter-summary-bp1-container-spacing: '', ''; // add margin or padding
	$filter-summary-container-border-reset: false; // if true, removes any borders

// ---- CONNECTED

	@if variable-exists(slideout-width) {
		$filter-summary-bp1-width: $slideout_width;
	}
