// ---- INFORMATION
//
// 01. Variables with true/false values can turned on or off.
// 02. Default values set to '' (empty) can be left blank to not generate extra styles.
// 03. Variables named $xx-spacing accept TWO values: margin, padding.
//	   Example: 0 0 10px 0, 0 0 5px 0
// 04. Variables named $xx-font accept FIVE values: font-size, 'font-family', 'font-weight', 'font-style', 'text-transform'.
//	   Example: 12px, 'arial', 'bold', 'italic', 'uppercase'
// 04. Variables named $xx-border accept FOUR values: 'side', size, 'style', radius.
//	   A blank 'side' value ('') shows no border. Radius value is not effected by this.
//	   Example: 'border', 1px, 'dashed', 3px -or- 'border-left', 1px, 'dashed', ''
// 05. Values can be entered as variables.
//	   Example: $value-2
// 06. Numeric values (such as with pixels) should be left unquoted. Other values could also be left unquoted, but numbers for sure.

// ---- BARS

	// Colors
	$slider-bar-color-01: #aaaaaa; // back bar
	$slider-bar-color-02: #aaaaaa; // back bar border
	$slider-bar-color-03: #333333; // front bar
	$slider-bar-color-04: #333333; // front bar border

	// Configuration
	$slider-bar-height: ''; // add height for slider bars

// ---- POINTERS

	// Colors
	$slider-pointer-color-01: #333333; // pointer
	$slider-pointer-color-02: #333333; // pointer border
	$slider-pointer-color-03: #ffffff; // pointer inner dot
	$slider-pointer-color-04: #ffffff; // pointer inner dot border
	$slider-pointer-color-05: #ffffff; // pointer active dot

	// Configuration
	$slider-pointer-height: 20px;
	$slider-pointer-width: 20px;
	$slider-pointer-border-radius: 100%;
	$slider-pointer-image: ''; // add an image url for a background-image
	$slider-pointer-inner-on: true; // show inner dot
	$slider-pointer-inner-size: 30%;

// ---- VALUES

	// Colors
	$slider-value-color-01: ''; // value

	// Configuration
	$slider-value-style: style1; // style1 (values above slider) or style2 (values below slider)
	$slider-value-position: 20px; // roughly equal to font size
	$slider-value-font: '', '', '', '', ''; // add font styles

// ---- RESET

	// Colors
	$slider-reset-color-01: ''; // link

	// Configuration
	$slider-reset-font: '', '', '', '', ''; // add font styles
	$slider-reset-spacing: '', ''; // add margin or padding
	$slider-reset-alignment: ''; // left, right, or center alignment
