<!-- Filter Summary -->
<script type="text/ss-template" name="Filter Summary" target=".ss-summary">
	<div class="ss-summary-container">
		<h4 class="ss-title">Current Filters</h4>

		<ul class="ss-list">
			<li class="ss-list-option ss-inline-summary-title">
				<span class="ss-summary-label">Current Filters:</span>
			</li>

			<li ng-repeat="filter in filterSummary" class="ss-list-option">
				<a href="{{ filter.remove.url }}" class="ss-list-link">
					<span class="ss-summary-label">{{ filter.filterLabel }}:</span> <span class="ss-summary-value">{{ filter.filterValue }}</span>
				</a>
			</li>
			
			<li class="ss-list-option ss-summary-reset">
				<a href="{{ location().remove('filter').remove('rq').url() }}" class="ss-list-link">Clear All</a>
			</li>
		</ul>
	</div>
</script>
