// ---- INFORMATION
//
// 01. Variables with true/false values can turned on or off.
// 02. Default values set to '' (empty) can be left blank to not generate extra styles.
// 03. Variables named $xx-spacing accept TWO values: margin, padding.
//	   Example: 0 0 10px 0, 0 0 5px 0
// 04. Variables named $xx-font accept FIVE values: font-size, 'font-family', 'font-weight', 'font-style', 'text-transform'.
//	   Example: 12px, 'arial', 'bold', 'italic', 'uppercase'
// 04. Variables named $xx-border accept FOUR values: 'side', size, 'style', radius.
//	   A blank 'side' value ('') shows no border. Radius value is not effected by this.
//	   Example: 'border', 1px, 'dashed', 3px -or- 'border-left', 1px, 'dashed', ''
// 05. Values can be entered as variables.
//	   Example: $value-2
// 06. Numeric values (such as with pixels) should be left unquoted. Other values could also be left unquoted, but numbers for sure.

// ---- CHECKBOXES

	// Colors
	$utilities-checkbox-color-01: $g-color-03; // default checkbox background
	$utilities-checkbox-color-02: $g-color-04; // default checkbox border
	$utilities-checkbox-color-03: $g-color-03; // active checkbox background
	$utilities-checkbox-color-04: $g-color-05; // active checkbox border
	$utilities-checkbox-color-05: $g-color-09; // active checkmark

	// Configuration
	$utilities-checkbox: true;
	$utilities-checkbox-selector: '.ss-checkbox'; // default checkbox selector
	$utilities-checkbox-style: style2; // style1 (choose icon), style2 (colored square)
	$utilities-checkbox-icon-type: check; // for style1, icon name (grab from mixins > _icons.scss)
	$utilities-checkbox-icon-bg-size: 62%; // for style1, size of icon
	$utilities-checkbox-square-size: 2.5px; // for style2, size of icon
	$utilities-checkbox-size: 16px; // checkbox size
	$utilities-checkbox-padding: 25px; // left or right padding only
	$utilities-checkbox-top: 1px; // top checkbox position
	$utilities-checkbox-left: 0; // left checkbox position (can be overridden by entering right value below)
	$utilities-checkbox-right: ''; // add a pixel value to move boxes to right
	$utilities-checkbox-border: 'border', 1px, 'solid', ''; // add border styles
	$utilities-checkbox-border-active: 'border', 2px, 'solid', ''; // add border styles

// ---- PALETTE

	// Colors
	$utilities-palette-color-01: $g-color-04; // default palette border
	$utilities-palette-color-02: $g-color-08; // palette label font
	$utilities-palette-color-03: $g-color-01; // active palette checkmark
	$utilities-palette-color-04: $g-color-04; // active palette checkmark border
	$utilities-palette-color-05: $g-color-08; // active palette label font

	// Configuration
	$utilities-palette: true;
	$utilities-palette-selector: '.ss-palette'; // default palette selector
	$utilities-palette-gutter: 2.5px; // the spacing between options (in pixels)
	$utilities-palette-size: 5; // palettes per row (number is divisible by 100)
	$utilities-palette-bp1: $g-bp3; // breakpoint for responsive
	$utilities-palette-bp1-size: 5; // palettes per row for responsive
	$utilities-palette-bp2: $g-bp4; // breakpoint for responsive
	$utilities-palette-bp2-size: 5; // palettes per row for responsive
	$utilities-palette-border: '', 1px, 'solid', ''; // add border styles
	$utilities-palette-label: true; // toggle color help text
	$utilities-palette-label-height: 12px; // fixed height for palette label
	$utilities-palette-label-font: 10px, '', '', '', ''; // add font styles
	$utilities-palette-label-font-active: '', '', '', '', ''; // add font styles
	$utilities-palette-icon-type: close-thin; // icon name (grab from mixins > _icons.scss)

// ---- GRID

	// Colors
	$utilities-grid-color-01: $g-color-04; // default grid border
	$utilities-grid-color-02: $g-color-03; // default grid background
	$utilities-grid-color-03: $g-color-08; // default grid font
	$utilities-grid-color-04: $g-color-09; // active grid border
	$utilities-grid-color-05: $g-color-09; // active grid background
	$utilities-grid-color-06: $g-color-01; // active grid font

	// Configuration
	$utilities-grid: true;
	$utilities-grid-selector: '.ss-grid'; // default grid selector
	$utilities-grid-gutter: 2.5px; // the spacing between options (in pixels)
	$utilities-grid-size: 5; // grids per row (number is divisible by 100)
	$utilities-grid-bp1: $g-bp3; // breakpoint for responsive
	$utilities-grid-bp1-size: 5; // palettes per row for responsive
	$utilities-grid-bp2: $g-bp4; // breakpoint for responsive
	$utilities-grid-bp2-size: 5; // palettes per row for responsive
	$utilities-grid-border: 'border', 1px, 'solid', ''; // add border styles
	$utilities-grid-border-active: 'border', 1px, 'solid', ''; // add border styles
	$utilities-grid-label-font: 10px, '', '', '', ''; // add font styles
	$utilities-grid-label-font-active: '', '', '', '', ''; // add font styles

// ---- DROPDOWNS

	// Colors
	$utilities-dropdown-color-01: $g-color-08; // label font
	$utilities-dropdown-color-02: $g-color-03; // label background
	$utilities-dropdown-color-03: $g-color-04; // label border
	$utilities-dropdown-color-04: $g-color-03; // dropdown background
	$utilities-dropdown-color-05: $g-color-04; // dropdown border
	$utilities-dropdown-color-06: $g-color-08; // option font
	$utilities-dropdown-color-07: $g-color-09; // option active font
	$utilities-dropdown-color-08: $g-color-08; // icon color

	// Configuration
	$utilities-dropdown: true;
	$utilities-dropdown-selector: '.ss-dropdown-menu'; // default dropdown selector
	$utilities-dropdown-label-border: 'border', 1px, 'solid', ''; // add border styles
	$utilities-dropdown-label-font: 14px, '', '', '', ''; // add font styles
	$utilities-dropdown-label-shadow: ''; // pixel values followed by color, ex: 0 3px 9px, rgba(0,0,0,0.3)
	$utilities-dropdown-list-height: 35px; // height for the visible element
	$utilities-dropdown-list-top-position: 0; // pixel gap from the dropdown label to the dropdown contents
	$utilities-dropdown-list-border: 'border', 1px, 'solid', ''; // add border styles
	$utilities-dropdown-list-padding: 10px; // spacing that controls inner padding and alignment of dropdown
	$utilities-dropdown-list-shadow: ''; // pixel values followed by color, ex: 0 3px 9px, rgba(0,0,0,0.3)
	$utilities-dropdown-option-spacing: 0 0 3px 0, ''; // add margin or padding
	$utilities-dropdown-option-font: 13px, '', '', '', ''; // add font styles
	$utilities-dropdown-option-font-active: '', '', $g-font-weight, '', ''; // add font styles
	$utilities-dropdown-collapse-expanded: chevron-up; // icon name (grab from mixins > _icons.scss)
	$utilities-dropdown-collapse-collapsed: chevron-down; // icon name (grab from mixins > _icons.scss)
	$utilities-dropdown-collapse-size: 14px; // icon size
	$utilities-dropdown-collapse-side: right; // left or right

// ---- CONNECTED

	@if variable-exists(slideout-width) {
		$utilities-palette-bp2: $slideout_width;
		$utilities-grid-bp2: $slideout_width;
	}
