// ---- INFORMATION
//
// 01. Variables with true/false values can turned on or off.
// 02. Default values set to '' (empty) can be left blank to not generate extra styles.
// 03. Variables named $xx-spacing accept TWO values: margin, padding.
//	   Example: 0 0 10px 0, 0 0 5px 0
// 04. Variables named $xx-font accept FIVE values: font-size, 'font-family', 'font-weight', 'font-style', 'text-transform'.
//	   Example: 12px, 'arial', 'bold', 'italic', 'uppercase'
// 04. Variables named $xx-border accept FOUR values: 'side', size, 'style', radius.
//	   A blank 'side' value ('') shows no border. Radius value is not effected by this.
//	   Example: 'border', 1px, 'dashed', 3px -or- 'border-left', 1px, 'dashed', ''
// 05. Values can be entered as variables.
//	   Example: $value-2
// 06. Numeric values (such as with pixels) should be left unquoted. Other values could also be left unquoted, but numbers for sure.

// ---- FACETS

	// Configuration
	$facets-spacing: '', '';

// ---- CONTAINER

	// Colors
	$facets-container-color-01: ''; // background color
	$facets-container-color-02: mix(#000000, $g-color-10, 50%); // border

	// Configuration
	$facets-container-spacing: 0 0 30px 0, 20px; // add margin or padding
	$facets-container-border: 'border', 2px, 'solid', ''; // add border styles
	$facets-container-shadow: ''; // pixel values followed by color, ex: 0 3px 9px, rgba(0,0,0,0.3)

// ---- TITLES

	// Colors
	$facets-title-color-01: $g-color-01; // title
	$facets-title-color-02: $g-color-10; // border
	$facets-title-color-03: $g-color-10; // collapsed border color
	$facets-title-color-04: $g-color-10; // background color
	$facets-title-color-05: ''; // collapsed background color

	// Configuration
	$facets-title-spacing: -20px -20px 20px -20px, 10px 25px 10px 10px; // add margin or padding
	$facets-title-border: '', 1px, 'solid', ''; // add border styles
	$facets-title-font: 15px, $g-font-family-01, $g-font-weight, '', $g-font-transform; // add font styles
	$facets-title-collapsed-spacing: -20px, ''; // change margin or padding (when title collapsed)

// ---- COLLAPSE

	// Colors
	$facets-collapse-color-01: $g-color-01; // icon

	// Configuration
	$facets-collapse-on: true; // turn on collapse functionality
	$facets-collapse-expanded: chevron-up; // icon name (grab from mixins > _icons.scss)
	$facets-collapse-collapsed: chevron-down; // icon name (grab from mixins > _icons.scss)
	$facets-collapse-size: 12px; // icon size
	$facets-collapse-top: 15px; // top icon position
	$facets-collapse-right: 10px; // right icon position (can be overridden by entering left value below)
	$facets-collapse-left: ''; // add a pixel value to move icon to left

// ---- FACET COUNT

	// Colors
	$facets-count-color-01: $g-color-06; // facet count

	// Configuration
	$facets-count-size: 10px; // add a px/em/rem value here to quickly change size of count

// ---- OPTIONS

	// Colors
	$facets-option-color-01: $g-color-08; // hierarchy and/or list links
	$facets-option-color-02: ''; // active hierarchy and/or list links

	// Configuration
	$facets-option-selector: '.ss-list .ss-list-option, .ss-hierarchy .ss-hierarchy-option'; // change selector
	$facets-option-spacing: 0 0 5px 0, ''; // add margin or padding
	$facets-option-font: '', '', '', '', ''; // add font styles
	$facets-option-font-active: '', '', '', '', ''; // add font styles

// ---- HIERARCHY

	// Colors
	$facets-hierarchy-color-01: $g-color-10; // selected level

	// Configuration
	$facets-hierarchy-on: true; // turn on hierarchy styles
	$facets-hierarchy-indent: 30px; // left padding for child levels
	$facets-hierarchy-font: '', '', $g-font-weight, '', ''; // add font styles (for current level)

// ---- SHOW MORE

	// Colors
	$facets-show-more-color-01: $g-color-09; // icon
	$facets-show-more-color-02: $g-color-09; // font

	// Configuration
	$facets-show-more-spacing: 10px 0 0 0, ''; // add margin or padding
	$facets-show-more-alignment: ''; // left, right, or center alignment
	$facets-show-more-on: true; // turn on show more icon
	$facets-show-more-size: 12px; // icon size
	$facets-show-more-padding: 20px; // left or right padding only
	$facets-show-more-icon-expanded: plus; // icon name (grab from mixins > _icons.scss)
	$facets-show-more-icon-collapsed: minus; // icon name (grab from mixins > _icons.scss)
	$facets-show-more-top: 1.5px; // top icon position
	$facets-show-more-left: 0; // left icon position (can be overridden by entering right value below)
	$facets-show-more-right: ''; // add a pixel value to move icon to right
	$facets-show-more-overflow: 310px; // add a pixel value to add overflow scroll
	$facets-show-more-font: '', '', $g-font-weight, '', ''; // add font styles

// ---- FILTER MESSAGES

	// Configuration
	$filter-messages-spacing: 0 0 20px 0, ''; // add margin or padding
