<!-- SearchSpring Sidebar -->
<script type="text/ss-template" name="SearchSpring Sidebar" module="search" target="#searchspring-sidebar">
	<div ng-if="!slideout.triggered" class="ss-sidebar-container">
		<div ng-if="filterSummary.length" class="ss-summary"></div>

		<div ng-if="facets.length" class="ss-facets"></div>

		<div ng-if="facets.length === 0" class="ss-filter-messages"></div>
	</div>
</script>

<!-- Filter Messages -->
<script type="text/ss-template" name="Filter Messages" target=".ss-filter-messages">
	<p ng-if="pagination.totalResults === 0 && filterSummary.length === 0" class="ss-filter-message-content">
		There are no results to refine. If you need additional help, please try our search "<strong>Suggestions</strong>".
	</p>

	<p ng-if="pagination.totalResults === 0 && filterSummary.length" class="ss-filter-message-content">
		If you are not seeing any results, try removing some of your selected filters.
	</p>

	<p ng-if="pagination.totalResults && filterSummary.length === 0" class="ss-filter-message-content">
		There are no filters to refine by.
	</p>
</script>

<!-- Facets -->
<script type="text/ss-template" name="Facets" target=".ss-facets">
	<div ng-repeat="facet in facets" ng-switch="facet.type" ng-if="(facet.type == 'hierarchy' ? facet.values.length : true)" id="ss-{{ facet.field }}" class="ss-facet-container ss-facet-container-{{ facet.type ? facet.type : 'list' }}" ng-class="{'ss-expanded': !facet.collapse, 'ss-collapsed': facet.collapse}">
		<h4 ng-click="facet.collapse = !facet.collapse" class="ss-title">{{ facet.label }}</h4>

		<div class="ss-facet-options">
			<div ng-if="facet.field == 'field name here'" class="ss-search-options">
				<input ng-model="facet.search.label" class="ss-search-options-field" type="text" placeholder="Search {{ facet.label }}" />
			</div>

			<ul ng-switch-when="hierarchy" class="ss-hierarchy">
				<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit" class="ss-hierarchy-option" ng-class="{'ss-hierarchy-current': value.active, 'ss-hierarchy-return': value.history && !value.active}">
					<a ng-if="!value.active" ng-href="{{ value.url }}" class="ss-hierarchy-link">
						{{ value.label }} <span ng-if="!value.history" class="ss-facet-count">({{ value.count }})</span>
					</a>

					<span ng-if="value.active">{{ value.label }}</span>
				</li>
			</ul>

			<ul ng-switch-when="grid" class="ss-grid">
				<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit" class="ss-grid-option">
					<a href="{{ value.url }}" class="ss-grid-link" ng-class="{'ss-active': value.active}">
						<div class="ss-grid-block">
							<div class="ss-grid-value">
								<div class="ss-grid-label">{{ value.label }}</div>
							</div>
						</div>
					</a>
				</li>
			</ul>

			<ul ng-switch-when="palette" class="ss-palette">
				<li ng-repeat="value in facet.values | limitTo:facet.overflow.limit" class="ss-palette-option">
					<a href="{{ value.url }}" class="ss-palette-link" ng-class="{'ss-active': value.active}" alt="{{ value.label }}">
						<div class="ss-palette-block">
							<div ng-style="{'background-color': value.label.toLowerCase() }" class="ss-palette-color ss-palette-color-{{ value.paletteClass }}"></div>
						</div>

						<div class="ss-palette-label">{{ value.label }}</div>
					</a>
				</li>
			</ul>

			<div ng-switch-when="slider" class="ss-range-slider"></div>

			<ul ng-switch-default class="ss-list" ng-class="{'ss-show-overflow': facet.overflow.remaining != facet.overflow.count}">
				<li ng-repeat="value in facet.values | filter:facet.search | limitTo:facet.overflow.limit" class="ss-list-option">
					<a href="{{ value.url }}" class="ss-list-link ss-checkbox" ng-class="{'ss-active': value.active}">
						{{ value.label }} <span class="ss-facet-count">({{ value.count }})</span>
					</a>
				</li>
			</ul>

			<div ng-if="facet.overflow.set(facet.limitCount).count" class="ss-show-more" ng-class="{'ss-expanded': facet.overflow.remaining, 'ss-collapsed': !facet.overflow.remaining}">
				<a ng-click="facet.overflow.toggle()" class="ss-show-more-link">
					Show {{ facet.overflow.remaining ? 'More' : 'Less' }}
				</a>
			</div>
		</div>
	</div>

	<div ng-if="merchandising.content.left.length > 0" id="ss-merch-left" class="ss-merchandising" ss-merchandising="left"></div>
</script>
