@import "._variables.scss";

$facets_module: true;

/* Facets */

.ss-facets {
	@include format-spacing($facets-spacing);
	ul {
		padding: 0;
		&:not(.ss-grid):not(.ss-palette) {
			margin: 0;
		}
		&, & li {
			list-style: none;
		}
	}
	.ss-facet-container {
		@include format-spacing($facets-container-spacing);
		&, .ss-title {
			position: relative;
		}
		@include format-border($facets-container-color-02, $facets-container-border);
		@if $facets-container-color-01 != '' {
			background: $facets-container-color-01;
		}
		@if $facets-container-shadow != '' {
			@include box-shadow(nth($facets-container-shadow, 1), nth($facets-container-shadow, 2));
		}
		.ss-title {
			@include format-text($facets-title-color-01, $facets-title-font);
			@include format-border($facets-title-color-02, $facets-title-border);
			@include format-spacing($facets-title-spacing);
			@if $facets-title-color-04 != '' {
				background: $facets-title-color-04;
			}
			@if $facets-collapse-on == true {
				cursor: pointer;
				&:before {
					content: '';
					display: block;
					@include sizing($facets-collapse-size, $facets-collapse-size);
					@include position($type: absolute, $top: $facets-collapse-top);
					@if $facets-collapse-left != '' {
						left: $facets-collapse-left;
					} @else {
						right: $facets-collapse-right;
					}
					@include ss-icon($facets-collapse-expanded, $facets-collapse-color-01);
				}
			}
		}
		.ss-facet-options {
			@if $facets-collapse-on == true {
				position: static;
				width: auto;
				opacity: 1;
				@include transition(opacity 0.5s ease);
			}
		}
		&.ss-collapsed {
			@if $facets-collapse-on == true {
				.ss-title {
					@if $facets-title-color-05 != '' and $facets-title-color-05 != $facets-title-color-04 {
						background: $facets-title-color-05;
					}
					@if $facets-title-color-03 != '' and $facets-title-color-03 != $facets-title-color-02 {
						border-color: $facets-title-color-03;
					}
					@include format-spacing($facets-title-collapsed-spacing);
					&:before {
						@include ss-icon($facets-collapse-collapsed, $facets-collapse-color-01, $bgprop: false);
					}
				}
				.ss-facet-options {
					@include position($type: absolute, $top: -9999px, $left: -9999px);
					width: 100%;
					opacity: 0;
				}
			}
		}
		.ss-facet-count {
			@if $facets-count-color-01 != '' {
				color: $facets-count-color-01;
			}
			@if $facets-count-size != '' {
				font-size: $facets-count-size;
			}
		}
		#{$facets-option-selector} {
			@include format-spacing($facets-option-spacing);
			&:last-child {
				@if nth($facets-option-spacing, 1) != '' {
					margin-bottom: 0;
				}
				@if nth($facets-option-spacing, 2) != '' {
					padding-bottom: 0;
				}
			}
			@include format-text('', $facets-option-font);
			@if $facets-option-color-01 != '' {
				a {
					color: $facets-option-color-01;
				}
			}
			.ss-active {
				@include format-text($facets-option-color-02, $facets-option-font-active);
				@if $facets-count-color-01 != '' {
					.ss-facet-count {
						color: inherit;
					}
				}
			}
		}
		@if $facets-hierarchy-on == true {
			.ss-hierarchy {
				.ss-hierarchy-return a:before {
					content: '\0000ab';
					padding: 0 2px 0 0;
				}
				.ss-hierarchy-current {
					@include format-text($facets-hierarchy-color-01, $facets-hierarchy-font);
					& ~ .ss-hierarchy-option {
						padding-left: $facets-hierarchy-indent;
					}
				}
			}
		}
		@if $facets-show-more-overflow != '' {
			.ss-show-overflow {
				max-height: $facets-show-more-overflow;
				overflow-y: auto;
			}
		}
		.ss-show-more {
			@include format-spacing($facets-show-more-spacing);
			@if $facets-show-more-alignment != '' {
				text-align: $facets-show-more-alignment;
			}
			.ss-show-more-link {
				@include format-text($facets-show-more-color-02, $facets-show-more-font);
				cursor: pointer;
				@if $facets-show-more-on == true {
					position: relative;
					$padding-direction: left;
					@if $facets-show-more-right != '' {
						$padding-direction: right;
					}
					padding-#{$padding-direction}: $facets-show-more-padding;
					&:before {
						content: '';
						display: block;
						@include sizing($facets-show-more-size, $facets-show-more-size);
						@include position($type: absolute, $top: $facets-show-more-top);
						@if $facets-show-more-right != '' {
							right: $facets-show-more-right;
						} @else {
							left: $facets-show-more-left;
						}
						@include ss-icon($type: $facets-show-more-icon-expanded, $fill: $facets-show-more-color-01);
					}
				}
			}
			@if $facets-show-more-on == true {
				&.ss-collapsed .ss-show-more-link:before {
					@include ss-icon($type: $facets-show-more-icon-collapsed, $fill: $facets-show-more-color-01, $bgprop: false);
				}
			}
		}
	}
}

/* Filter Messages */

.ss-filter-messages .ss-filter-message-content {
	@include format-spacing($filter-messages-spacing);
}
