@import "._variables.scss";

$facet-slider_module: true;

/* Range Slider */

.ss-range-slider {
	.ss-range-slider-container {
		overflow: hidden;
		rzslider {
			display: block;
			height: $slider-pointer-height;
			@if $slider-value-style == style2 {
				margin: 0 0 $slider-value-position 0;
			} @else {
				margin: $slider-value-position 0 0 0;
			}
			.rz-bar-wrapper, .rz-bubble {
				padding: 0;
			}
			.rz-bar-wrapper, .rz-bar {
				@include position($top: 0, $bottom: 0);
				margin: auto;
			}
			.rz-bar-wrapper {
				height: auto;
				.rz-bar {
					background: $slider-bar-color-01;
					@if $slider-bar-color-01 != $slider-bar-color-02 {
						border: 1px solid $slider-bar-color-02;
					}
				}
			}
			.rz-bar {
				@if $slider-bar-height != '' {
					height: $slider-bar-height;
					@include border-radius($slider-bar-height / 2);
				}
			}
			.rz-bar.rz-selection {
				background: $slider-bar-color-03;
				@if $slider-bar-color-03 != $slider-bar-color-04 {
					border: 1px solid $slider-bar-color-04;
				}
			}
			.rz-pointer {
				@include sizing($slider-pointer-width, 100%);
				top: 0;
				background: $slider-pointer-color-01;
				@if $slider-pointer-image != '' {
					background-image: url($slider-pointer-image);
					background-position: center center;
					background-repeat: no-repeat;
				}
				@if $slider-pointer-color-01 != $slider-pointer-color-02 {
					border: 1px solid $slider-pointer-color-02;
				}
				&, &:after {
					@include border-radius($slider-pointer-border-radius);
				}
				&:after {
					background: $slider-pointer-color-03;
					@if $slider-pointer-color-03 != $slider-pointer-color-04 {
						border: 1px solid $slider-pointer-color-04;
					}
					@include sizing($slider-pointer-inner-size, $slider-pointer-inner-size);
					@include position($top: 0, $bottom: 0, $left: 0, $right: 0);
					margin: auto;
					@if $slider-pointer-inner-on != true {
						display: none;
					}
				}
				&.rz-active:after {
					background: $slider-pointer-color-05;
				}
			}
			.rz-bubble {
				@if $slider-value-style == style2 {
					bottom: -$slider-value-position;
					top: auto;
				} @else {
					top: -$slider-value-position;
				}
				line-height: 1;
				@include format-text($slider-value-color-01, $slider-value-font);
			}
		}
	}
	.ss-range-slider-reset {
		@include format-spacing($slider-reset-spacing);
		@if $slider-reset-alignment != '' {
			text-align: $slider-reset-alignment;
		}
		a {
			@include format-text($slider-reset-color-01, $slider-reset-font);
		}
	}
}
