@import "._variables.scss";

$pagination_module: true;

@if $pagination-on == true {
	/* Pagination */

	.ss-pagination-container {
		@if $pagination-top-alignment != '' {
			&.ss-pagination-top {
				text-align: $pagination-top-alignment;
			}
		}
		@if $pagination-bottom-alignment != '' {
			&.ss-pagination-bottom {
				text-align: $pagination-bottom-alignment;
			}
		}
		.ss-pagination {
			@include format-spacing($pagination-spacing);
			@include format-border($pagination-color-02, $pagination-border);
			@if $pagination-color-01 != '' {
				background: $pagination-color-01;
			}
			@if $pagination-shadow != '' {
				@include box-shadow(nth($pagination-shadow, 1), nth($pagination-shadow, 2));
			}
			&, .ss-pagination-list {
				@include inline-block(middle);
			}
			.ss-pagination-list {
				@include reset;
				@include clearfix('&');
				.ss-page {
					float: left;
					line-height: $pagination-height;
					.ss-page-link, .ss-page-label {
						display: block;
						text-align: center;
						@include format-spacing($pagination-pages-spacing);
						@include format-text($pagination-pages-color-01, $pagination-pages-font);
						@include format-border($pagination-pages-color-02, $pagination-pages-border);
						@if $pagination-pages-color-03 != '' {
							background: $pagination-pages-color-03;
						}
						@if $pagination-pages-shadow != '' {
							@include box-shadow(nth($pagination-pages-shadow, 1), nth($pagination-pages-shadow, 2));
						}
					}
					&.ss-page-previous, &.ss-page-next {
						.ss-page-link {
							width: $pagination-pages-icon-prev-next-size;
							font-size: 0;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: $pagination-pages-icon-size auto;
						}
					}
					&.ss-page-previous .ss-page-link {
						@include ss-icon($type: $pagination-pages-icon-prev-type, $fill: $pagination-pages-color-07, $bgprop: false);
					}
					&.ss-page-next .ss-page-link {
						@include ss-icon($type: $pagination-pages-icon-next-type, $fill: $pagination-pages-color-07, $bgprop: false);
					}
				}
				.ss-active .ss-page-label {
					position: relative;
					@if $pagination-pages-offset-active != '' {
						top: $pagination-pages-offset-active;
					}
					@include format-text($pagination-pages-color-04, $pagination-pages-font-active);
					@include format-border($pagination-pages-color-05, $pagination-pages-border-active);
					@if $pagination-pages-color-06 != '' {
						background: $pagination-pages-color-06;
					}
					@if $pagination-pages-active-underline-on == true {
						&:after {
							content: '';
							display: block;
							height: $pagination-pages-active-underline-width;
							background: $pagination-pages-color-08;
							@include position($type: absolute, $bottom: $pagination-pages-active-underline-position, $left: $pagination-pages-active-underline-position, $right: $pagination-pages-active-underline-position);
						}
					}
				}
			}
		}
	}

	/* Pagination - Breakpoint 1 */

	@include respond($pagination-bp1-width) {
		.ss-pagination-container .ss-pagination {
			display: block;
			@include format-spacing($pagination-bp1-spacing);
			.ss-pagination-list {
				.ss-page {
					@if $pagination-bp1-menu-height != '' {
						line-height: $pagination-bp1-menu-height;
					}
					.ss-page-link, .ss-page-label {
						@include format-spacing($pagination-bp1-pages-spacing);
						@if $pagination-bp1-font-size != '' {
							font-size: $pagination-bp1-font-size;
						}
					}
					&.ss-page-previous, &.ss-page-next {
						.ss-page-link {
							@if $pagination-bp1-pages-icon-prev-next-size != '' {
								width: $pagination-bp1-pages-icon-prev-next-size;
							}
							@if $pagination-bp1-pages-icon-size != '' {
								background-size: $pagination-bp1-pages-icon-size auto;
							}
						}
					}
				}
				.ss-active .ss-page-label {
					@if $pagination-bp1-pages-offset-active != '' {
						top: $pagination-bp1-pages-offset-active;
					}
					@if $pagination-pages-active-underline-on == true and $pagination-bp1-pages-active-underline-position != '' {
						&:after {
							bottom: $pagination-bp1-pages-active-underline-position;
						}
					}
				}
			}
		}
	}
}
