// ---- INFORMATION
//
// 01. Variables with true/false values can turned on or off.
// 02. Default values set to '' (empty) can be left blank to not generate extra styles.
// 03. Variables named $xx-spacing accept TWO values: margin, padding.
//	   Example: 0 0 10px 0, 0 0 5px 0
// 04. Variables named $xx-font accept FIVE values: font-size, 'font-family', 'font-weight', 'font-style', 'text-transform'.
//	   Example: 12px, 'arial', 'bold', 'italic', 'uppercase'
// 04. Variables named $xx-border accept FOUR values: 'side', size, 'style', radius.
//	   A blank 'side' value ('') shows no border. Radius value is not effected by this.
//	   Example: 'border', 1px, 'dashed', 3px -or- 'border-left', 1px, 'dashed', ''
// 05. Values can be entered as variables.
//	   Example: $value-2
// 06. Numeric values (such as with pixels) should be left unquoted. Other values could also be left unquoted, but numbers for sure.

// ---- OVERLAY

	// Colors
	$slideout-overlay-color-01: $g-color-11;

// ---- CONTAINER

	// Colors
	$slideout-container-shadow-on: false;

// ---- BUTTON

	// Colors
	$slideout-button-color-01: $g-color-09; // button background
	$slideout-button-color-02: $g-color-04; // button border
	$slideout-button-color-03: $g-color-01; // button icon
	$slideout-button-color-04: $g-color-01; // button font

	// Configuration
	$slideout-button-border: '', 1px, 'solid', ''; // add border styles
	$slideout-button-height: 40px; // height
	$slideout-button-margin: 0 0 20px 0; // button margin
	$slideout-button-icon-type: filter; // icon name (grab from mixins > _icons.scss)
	$slideout-button-icon-size: ($slideout-button-height / 2); // can set a pixel value or change the 2
	$slideout-button-font: 14px, '', $g-font-weight, '', $g-font-transform; // add font styles
	$slideout-button-bp1-width: $g-bp3;

// ---- HEADER

	// Colors
	$slideout-header-color-01: $g-color-09; // header background
	$slideout-header-color-02: $g-color-04; // header border
	$slideout-header-color-03: $g-color-01; // header icon
	$slideout-header-color-04: $g-color-01; // header font

	// Configuration
	$slideout-header-border: '', 1px, 'solid', ''; // add border styles
	$slideout-header-height: 60px; // height
	$slideout-header-spacing: 0, 0 60px 0 20px; // add margin or padding
	$slideout-header-font: 18px, $g-font-family-01, $g-font-weight, '',  $g-font-transform; // add font styles
	$slideout-header-button-icon-type: close-thin; // icon name (grab from mixins > _icons.scss)
	$slideout-header-button-size: 30px; // icon size
	$slideout-header-button-right: 12px; // icon position

// ---- FACETS

	// Colors
	$slideout-facet-color-01: $g-color-03; // facet title bg
	$slideout-facet-color-02: $g-color-08; // facet title font
	$slideout-facet-color-03: $g-color-08; // facet collapse icon
	$slideout-facet-color-04: $g-color-04; // facet collapsed border color

	// Configuration
	$slideout-facet-spacing: 0, 0 20px; // add margin or padding
	$slideout-facet-container-selector: '.ss-facets .ss-facet-container';
	$slideout-facet-container-spacing: 0 0 20px 0, ''; // add margin or padding
	$slideout-facet-container-border-reset: false; // if true, removes any borders
	$slideout-facet-title-on: true; // turn on/off colored facet titles
	$slideout-facet-title-selector: $slideout-facet-container-selector + ' .ss-title';
	$slideout-facet-title-spacing: 0 -20px 20px -20px, 10px 20px; // add margin or padding
	$slideout-facet-title-border: 'border-bottom', 1px, 'solid', ''; // add border styles
	$slideout-facet-collapse-on: true; // if collapse icons are set, adjust using the below settings
	$slideout-facet-collapse-selector: $slideout-facet-container-selector + '.ss-collapsed .ss-title'; // collapsed selector only
	$slideout-facet-collapse-top: 14px; // top icon position
	$slideout-facet-collapse-left: ''; // add a pixel value to move icon to left
	$slideout-facet-collapse-right: 20px; // right icon position (can be overridden by entering left value above)
	$slideout-facet-collapse-expanded: chevron-up; // icon name (grab from mixins > _icons.scss)
	$slideout-facet-collapse-collapsed: chevron-down; // icon name (grab from mixins > _icons.scss)
	$slideout-facet-collapse-margin-bottom: -20px; // negative margin to collapse properly

// ---- CONNECTED

@if variable-exists(slideout-width) {
	$slideout-button-bp1-width: $slideout-width;
}
